<div>
<%= form_with(model: reject_profile_message) do |f| %>
  <%= f.label :body, "Enter valid reason", :class => "form-label" %>
  <%= f.text_area :body, rows: 1, class: "form-control" %>
  <%= f.submit "Send" %>
<% end %>
</div>